@import url(./reset.css);

@import url('https://fonts.googleapis.com/css2?family=Abel&family=Alex+Brush&family=Assistant&family=Cormorant+Garamond&family=Cormorant+Upright&family=Creepster&family=Great+Vibes&family=Italianno&family=Julee&family=Laila&family=Literata:opsz@7..72&family=Lora&family=Parisienne&family=Petit+Formal+Script&family=Playfair+Display&family=Pontano+Sans&family=Prata&family=Roboto+Mono&family=Rochester&family=Solitreo&family=Tangerine:wght@700&family=Taviraj&display=swap');

@font-face {
    font-family: 'Furia';
    src: url(../fonts/furia-and-venganza-font/FuriaAndVenganza-7EAE.ttf);
}

body {
    background: #f4f4f4;
    height: 100%;
}

p, li {
    font-family: 'Laila', sans-serif;
}

/* Header */

header {
    background-color: #ffcc00;
    height: 25vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

header div {
    height: 100%;
    display: flex;
    align-items: center;
}

header #header-h-logo img {
    height: 80%;
    margin: 0 2em;
    animation: rollIn 5s ease-out 1;
}

header #header-name img {
    height: 40%;
    animation: slideIn 8.5s ease-out 1;
}

header #header-dulce-de-leche img {
    height: 70%;
    margin-right: 4em;
    animation: rotateIn 10s linear 1;
}

@keyframes rollIn {
    from {transform: translateX(110vw) rotate(1000deg);}
    to {transform: translateX(0) rotate(0deg);}
}

@keyframes slideIn {
    0% {transform: translateX(110vw);}
    50% {transform: translateX(110vw);}
    100% {transform: translateX(0);}
}

@keyframes rotateIn {
    0% {transform: scale(0);}
    80% {transform: scale(0);}
    100% {transform: scale(1);}
}

@keyframes dripping {
    0% {transform: translateY(0);}

    80% {transform: translateY(0);}

    100% {transform: translateY(100vh);}
}

#drop {
    height: 12%;
    position: absolute;
    top: 30%;
    left: 15%;
    animation: dripping 10s ease-in infinite;
}

/* Main */

main h1 {
    font-family: 'Furia';
    font-size: 90px;
    width: 80%;
    margin: auto;
    padding-bottom: 0.5em;
}

#intro {
    width: 80%;
    height: auto;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#intro p {
    width: 50%;
    font-size: 20px;
    background-image: radial-gradient(#f5db2e48 60%, #ffcc009f);
    padding: 2em;
    border: 10px solid #603f24;
    border-radius: 4px;
    line-height: 1.5;
}

#intro img {
    padding: 1em;
    height: 100%;
}

#intro img:hover {
    display: none;
    background-image: url(../images/alfajors-png.png);
    padding: 10em;

}




/* Nutritional Facts Table */

table {
    border: 10px solid #603f24;
    padding: 1em;
}

table thead th {
    border: 4px solid #603f24;
    padding: 1em;
    text-align: center;
    font-size: 25px;
    font-family: 'Taviraj', serif;
    background-color: #ffcc009f;
}

table tbody tr td {
    border: 2px solid #603f24;
    text-align: center;
    padding: 1em;
    background-color: #f5db2e48;
    font-family: 'Taviraj', serif;
}

table tbody tr td:first-child {
    text-align: left;
}

table tbody tr:last-child td {
    font-size: 12px;
}







/* Multiple Backgrounds */

.multi-bg {
    height: 85vh;
    /* creates our multi-image background scene. */
    background-image: url(../images/dulcedeleche2.png), url(../images/alfajors-png.png), url("../images/havanna-alfajor-chocolate-box.png");
    background-repeat: no-repeat;
    background-position: 79% 89%, 25% 100%, 50% 50%;
    background-size: 22vh, 35vh, 100vh;
}

/* Footer */

footer {
    height: 25vh;
    background-color: #ffcc00;
    display: flex;
    align-items: end;
    justify-content: space-between;
    border-top: 1em solid #7e4c14;
}

#footer-logo {
    height: 100%;
    display: flex;
    align-items: center;
}

#footer-logo img {
    height: 60%;
    margin-left: 2em;
}

#footer-form {
    margin-bottom: 0.5em;
}

#footer-form div{
    display: flex;
}

#footer-form form fieldset legend {
    font-family: 'Laila', sans-serif;
    font-size: 20px;
    text-decoration: underline;
    padding: 0.25em;
}

#footer-form form fieldset p {
    padding: 0.25em;
}

footer div ul {
    text-align: right;
    margin-right: 1em;
}

footer div ul li {
    margin: 0 2em 0.5em 0;
    font-size: 18px;
}

#socialMedia {
    display: flex;
    width: auto;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 2em 1em 0;
}

#socialMedia img {
    height: 5vh;
    width: auto;
    padding: 0.5em;
}
